.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 950px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  transform: translateX(100%);
  opacity: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, opacity 1s ease;
}

.card.loaded {
  opacity: 1;
}

.nameContainer {
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.identification {
  position: absolute;
  top: 5px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
}

.leftAlign .identification {
  left: 5px;
}

.rightAlign .identification {
  right: 5px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 10px;
}

.rightAlign .name,
.rightAlign .email {
  text-align: right;
}

.leftAlign .name,
.leftAlign .email,
.leftAlign .title {
  text-align: left;
}

.rightAlign .title {
  text-align: right;
}

.title,
.email {
  font-size: 1.2rem;
  margin-top: 5px;
}

.email {
  font-weight: bold;
  color: silver;
  font-size: 16px;
}

.title {
  font-style: italic;
  color: darkseagreen;
}

.catchphrase {
  font-size: 1.4rem;
  color: teal;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  position: relative;
  padding: 10px 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.catchphrase::before {
  content: "“";
  font-size: 3rem;
  position: absolute;
  top: -15px;
  left: -20px;
  color: #888;
}

.catchphrase::after {
  content: "”";
  font-size: 3rem;
  position: absolute;
  bottom: -30px;
  right: -15px;
  color: #888;
}

.leftAlign .catchphrase {
  margin-right: 100px;
}

.rightAlign .catchphrase {
  margin-left: 100px;
}

.leftAlign {
  flex-direction: row-reverse;
  transform: translateX(-100vw);
}

.rightAlign {
  flex-direction: row;
  transform: translateX(100vw);
}

.leftAlign .textContainer {
  order: 1;
}

.rightAlign .textContainer {
  order: 0;
}

.leftAlign.loaded {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}

.rightAlign.loaded {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}

.leftAlign.loaded,
.rightAlign.loaded {
  transform: translateX(0);
}

.imageContainer img {
  border-radius: 10px;
  height: 130px;
}

.rightAlign .rightIcon {
  order: 1;
}

.icon {
  display: flex;
  align-items: center;
}

.rightAlign .icon {
  justify-content: flex-end;
}

.leftAlign .icon {
  justify-content: flex-start;
}

.leftIcon,
.rightIcon {
  padding: 0 10px;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: auto;
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.controlsContainer button {
  padding: 4px 6px;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  min-width: 24px;
}
.editButton {
  background: rgb(76, 175, 80);
}

.deleteButton {
  background: rgb(160, 69, 69);
}
